#navigation.verticle {
    max-width: 220px;
    #scene-list {
        min-width: 210px;
        .scene {
            float:none;
            white-space: nowrap;
            width: min-content;
        }
    }
}

.actor-carousel {
    position:absolute;
    padding: 0px 150px;
    pointer-events: none;
    
    .main-part {
        display: flex;
        justify-content: center;
    }

    .side-buttons {
        width:40px;

        ol {
            margin: 0px;
            padding: 0px;
            pointer-events: none;

            li {
                flex: none;
                width: 36px;
                height: 36px;
                margin: 8px 0 0 0;
                box-sizing: content-box;
                font-size: 24px;
                line-height: 36px;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 10px var(--color-shadow-dark);
                color: var(--color-text-light-heading);
                text-align: center;
                border: 1px solid var(--color-border-dark);
                border-radius: 5px;
                cursor: pointer;
                pointer-events: all;
                display: inline-grid;
                place-content: center;
                
                &.small {
                    height: 20px;
                    font-size: 14px;
                }
            }

        }
    }

    .combatant-container {
        display: flex;
        overflow:hidden;
        margin-right: 10px;
        padding-bottom: 20px;

        .combatant {
            width: 90px;
            min-width: 90px;
            text-align: center;
            margin: 0px 4px;
            transition: opacity 0.3s, width 0.3s, min-width 0.3s, margin 0.3s ease-in-out;

            .frame {
                box-shadow: 0 0 10px rgb(20,20,20);
            }

            .name {
                color:white;
                background-color: black;
                font-family: "Old Newspaper Font";
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0px 4px;
            }
            .portrait {
                position: relative;

                img {
                    object-fit: cover;
                    border: 2px solid black;
                    border-radius: 0px;
                    min-height: 90px;
                }

                .initiative {
                    position: absolute;
                    bottom: 0px;
                    color: white;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 4px;
                    font-size: 12px;
                    line-height: 1;
                }
                
                .overlay {
                    position:absolute;
                    top: 2px;
                    bottom: 2px;
                    left: 2px;
                    right: 2px;
                    background: rgb(0, 0, 0, 0.3);
                    text-shadow: 0 0 10px black;

                    i {
                        position: relative;
                        color: white;
                        font-size: 42px;
                        top: calc(50% - 21px);
                        pointer-events: all;
                    }
                }

            }

            &.first {
                width: 110px;
                min-width: 110px;
                margin: 0 14px;
                .name {
                    font-size: 16px;
                }
            }
            &.fadeout {
                opacity: 0;
                width: 0px;
                min-width: 0px;
                margin: 0px;
            }
            .health-bar {
                height: 10px;
                border: 2px solid black;
                border-top-width: 0px;
                border-radius: 0px;
                background-color: rgb(100, 100, 100, 0.3);
                div {
                    height: 8px;
                    &.Player{
                        background-color: purple;
                    }
                    &.NPC, &.GM {
                        background-color: rgb(41, 41, 41);
                    }
                }
            }
        } 

    }
    .round-divider {
        text-align: center;
        width: 30px;
        min-width: 30px;
        transition: opacity 0.3s, width 0.3s, min-width 0.3s, margin 0.3s ease-in-out;
        div {
            width: 4px;
            height: 54px;
            margin: auto;
            border: 2px solid black;
            box-shadow: 0 0 10px rgb(255, 255, 255, 0.2);
        }
        span {
            font-family: "Old Newspaper Font";
            font-weight: bold;
            font-size: 18px;
            text-shadow: 0 0 8px #ffffff;
            transition: opacity 0.6s ease-in-out;
            &.fadeout {
                opacity: 0;
            }
        }
        &.fadeout {
            opacity: 0;
            width: 0px;
            min-width: 0px;
            margin: 0px;
        }
    }
}

.crawl-tracker {
    position:absolute;
    font-family: "Montserrat-Medium";
    margin: 5px;
    padding: 4px;
    border: 1px solid var(--color-border-dark);
    background: url(/ui/denim075.png) repeat rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    color: var(--color-text-light-highlight);

    .stub {
        font-size: 26px;
        text-align: center;
    }

    &.collapsed {
        .gm-tools {
            .heading {
                #arrow::before {
                    content: "\f106";
                }
            }
            .content {
                visibility: hidden;
                height:0px;
                margin: 0px;
                border: none;
            }
        }
            
    }

    .gm-tools {
        .heading, .tools, .danger{
            margin-bottom: 4px;
            border-bottom: 2px groove var(--color-border-dark-secondary);
        }

        .heading {
            font-size: 1.25em;
            padding: 4px;
            span {
                font-family: "Montserrat-Medium";
            }

            i {
                margin: 0px 8px;
                vertical-align: middle;
            }
        }

        .tools {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            a {
                display: block;
                margin: auto;
                text-align: center;
                line-height: 2;
                font-size: 16px;
            }
        }

        .danger {
            .table {
                a {
                    color:grey;
                }
            }

            select {
                color: white;
                border: none;
            }

            fieldset {
                border: 1px dashed grey;
                margin: 4px;
            }
        }
    }



    .main-part {
        justify-content: center;
        .heading {
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            height: 40px;
    
            h2 {
                font-family: "Old Newspaper Font";
                font-size: 26px;
                text-align: center;
            }

            i {
                font-size: 24px;
                margin: auto;
            }
        }

        .faded {
            opacity: 0;
        }

        h3 {
            text-align: center;
            font-family: "Montserrat-Bold";
            font-size: 16px;
        }

        h4 {
            font-size: 12px;
            text-align: center;
        }

    }
}

#crawl-helper-macro {
    font-family: 'Arial', sans-serif;
    padding: 10px;

    .crawl-btn {
        padding: 8px 15px;
        margin: 5px;
        font-size: 14px;
        cursor: pointer;
        background-color: #006400;
        color: white;
        border: none;
        border-radius: 3px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .red-button {
        background-color: #990000;
        color: white;
    }

    .gold-button {
        background-color: #FFD700;
        color: black;
    }

    .blue-button {
        background-color: #00008B;
        color: white;
    }

    .green-button {
        background-color: #006400;
        color: white;
    }
}