.crawl-tracker {
    position: static;
    font-family: "Montserrat-Medium";
    padding: 6px;
    border: none;
    box-shadow: none;
    pointer-events: all;

    .stub {
        font-size: 26px;
        text-align: center;
    }

    .main-part {
        justify-content: center;
        .heading {
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            margin-bottom: 8px;
    
            h2 {
                font-family: "Old Newspaper Font";
                font-size: 26px;
                text-align: center;
            }

            i {
                font-size: 20px;
                margin: auto;
            }
        }

        .content {
            line-height: 16px;
            h3 {
                text-align: center;
                font-family: "Montserrat-Bold";
                font-size: 16px;
            }
            i {
                font-size: 15px;
            }
        }

        .faded {
            opacity: 0;
        }



    }
}
