#navigation {
    max-width: 250px;
}

.actor-carousel {
    position:absolute;
    .combatant-container {
        display: flex;
        .combatant {
            width: 100px;
            text-align: center;
            margin: 0px 2px;
            .name {
                color:white;
                background-color: black;
                font-family: "Old Newspaper Font";
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0px 4px;
            }
            img {
                object-fit: cover;
                border: 2px solid black;
            }
        }
    }
}

.crawl-tracker {

    .window-content {
        padding: 4px;
    }

}

#crawl-helper-macro {
    font-family: 'Arial', sans-serif;
    padding: 10px;

    .crawl-btn {
        padding: 8px 15px;
        margin: 5px;
        font-size: 14px;
        cursor: pointer;
        background-color: #006400;
        color: white;
        border: none;
        border-radius: 3px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .red-button {
        background-color: #990000;
        color: white;
    }

    .gold-button {
        background-color: #FFD700;
        color: black;
    }

    .blue-button {
        background-color: #00008B;
        color: white;
    }

    .green-button {
        background-color: #006400;
        color: white;
    }
}