.gm-tools {
    --offset: 0;
    transform: translateX(var(--offset));
    transition: transform 250ms ease;

    .main-part {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Responsive columns */
        margin-bottom: 14px;
        align-items: center;

        .button-bar, .danger, .encounter-table {
            pointer-events: all;
            font-size: 16px;
        }
        
        .danger {
            color:white;
            select {
                height: 24px;
                width: min-content;
                color:white;
                background-color: transparent;
                option {
                    background-color: black;
                }
            }
        }

        .button-bar{
            display: flex;
            column-gap: 8px;
            justify-content: center;
            color: rgb(239, 230, 216);

            button {
                min-height: 24px;
                height: 24px;
                width: 24px;
            }
        }

        .encounter-table {
            color: white;
            text-align: right;
            height: 100%;
            line-height: 32px;
            display: flex;
            gap: 8px;
            flex-direction: row-reverse;
            overflow: hidden;
            
            label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }


}