.lights-out-carousel {
    position:absolute;
    padding: 0px 150px;
    pointer-events: none;
    
    .main-part {
        display: flex;
        justify-content: center;
    }

    .side-buttons {
        width:40px;

        ol {
            margin: 0px;
            padding: 0px;
            pointer-events: none;

            li {
                flex: none;
                width: 36px;
                height: 36px;
                margin: 8px 0 0 0;
                box-sizing: content-box;
                font-size: 24px;
                line-height: 36px;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 10px var(--color-shadow-dark);
                color: var(--color-text-light-heading);
                text-align: center;
                border: 1px solid var(--color-border-dark);
                border-radius: 5px;
                cursor: pointer;
                pointer-events: all;
                display: inline-grid;
                place-content: center;
                
                &.small {
                    height: 20px;
                    font-size: 14px;
                }
            }

        }
    }

    .unknown {
        .frame {
            background-color:rgb(0, 0, 0, 0.5);
        }  
        .portrait {
            visibility:hidden;
        }
        .health-bar {
            visibility:hidden;
        }
    }

    .combatant-container {
        position: absolute;
        left: 0;
        top: 200px;
        color: white;
        font-family: "QTFrizQuad";
        pointer-events: all;

        .combatant {
            position: relative;
            display: flex;
            align-items: center;
            font-family: var(--font-body);
            transition: opacity 0.3s, width 0.3s, min-width 0.3s, margin 0.3s ease-in-out;


            .character-picture {
                width: 50px;
                height: 50px;
                background: white;
                background-repeat: repeat;
                border: 1px solid black;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 1 0 0 rgba(255, 255, 255, 0.4) inset;
                border-radius: 50%;
                position: relative;
                margin: 0.5em;
                z-index: 10;
                padding: 2px;

                img {
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                  }
            }

            .character-name {
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: 0.05em;
                text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black, 0 0 15px black;
            }

            .character-health {
                width: 150px;
                height: 25px;
                background: white;
                background-repeat: repeat;
                border-radius: 5px;
                border: 1px solid black;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
                margin-left: -29px;
                padding: 2px;

                .bar-wrapper {
                    width: 100%;
                    height: 100%;
                    background: black;
                    border-radius: 5px;
                    border: 1px solid black;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
                    position: relative;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;

                    .bar {
                        position: absolute;
                        left: 1px;
                        top: 1px;
                        bottom: 1px;
                        width: 75%;
                        border-radius: 2px;
                        z-index: 2;
                        box-shadow: 0px 1px 0 1px rgba(255, 255, 255, 0.4) inset;
                        &.healthy {
                            background: linear-gradient(180deg, #de2f2d, #a41413ff);
                        }
                        &.hurt {
                            background: linear-gradient(180deg, #ba2524, #861211);
                        }
                        &.injured {
                            background: linear-gradient(180deg, #971e1d, #660e0d);
                        }
                        &.critical {
                            background: linear-gradient(180deg, #6a1413, #410808);
                        }
                    }

                    input {
                        color: white;
                        width: auto;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        text-shadow: 0 0 5px var(--shadow-text);
                        width: 60px;
                        text-align: center;
                        font-size: 1.1em;
                        margin-top: 2px;
                        z-index: 3;
                        background: transparent;
                    }

                    .divider {
                        flex: 1;
                        text-align: center;
                        padding-top: 2px;
                        z-index: 3;
                        text-shadow: 0 0 5px var(--shadow-text);
                    }
                }


            }

            &.fadeout {
                opacity: 0;
                width: 0px;
                min-width: 0px;
                margin: 0px;
            }
            
        } 

    }

    .round-divider {
        text-align: center;
        width: 30px;
        min-width: 30px;
        transition: opacity 0.3s, width 0.3s, min-width 0.3s, margin 0.3s ease-in-out;
        div {
            width: 20px;
            height: 4px;
            margin: auto;
            border: 2px solid black;
            box-shadow: 0 0 10px rgb(255, 255, 255, 0.2);
        }
        span {
            font-family: "Old Newspaper Font";
            font-weight: bold;
            font-size: 18px;
            text-shadow: 0 0 8px #ffffff;
            transition: opacity 0.6s ease-in-out;
            &.fadeout {
                opacity: 0;
            }
        }
        &.fadeout {
            opacity: 0;
            width: 0px;
            min-width: 0px;
            margin: 0px;
        }
    }
}