.crawl-helper .window-content {
  padding: 4px;
}

#crawl-helper-macro {
  font-family: "Arial", sans-serif;
  padding: 10px;
}
#crawl-helper-macro .crawl-btn {
  padding: 8px 15px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 3px;
}
#crawl-helper-macro .form-group {
  margin-bottom: 15px;
}
#crawl-helper-macro .red-button {
  background-color: #990000;
  color: white;
}
#crawl-helper-macro .gold-button {
  background-color: #FFD700;
  color: black;
}
#crawl-helper-macro .blue-button {
  background-color: #00008B;
  color: white;
}
#crawl-helper-macro .green-button {
  background-color: #006400;
  color: white;
}