.red-button {
    background-color: #990000;
    color: white;
}

.gold-button {
    background-color: #FFD700;
    color: black;
}

.blue-button {
    background-color: #00008B;
    color: white;
}

.green-button {
    background-color: #006400;
    color: white;
}
