<div id="crawl-tracker" class="shadowdark">
<h3>todo</h3>
<ul>
<li>When crawling: crawling rounds here</li>
<li>When crawling:next encounter roll</li>
<li>When crawling: button: start combat with selected token(s)</li>

<li>When combat: combat rounds here</li>
<li>When combat: button: add token(s) to Combat</li>
<li>When combat: end combat [removes all monters from carousel]</li>

<li>Settings menu: select encounter table</li>
</ul>
</div>