<div id="crawl-helper">
    <h2>Crawling Helper</h2>

    <div>
        <label for="danger-level">Select Danger Level:</label>
        <select data-action="updateDangerLevel">
            {{#each dangerLevels}}
                <option value="{{this}}" {{#if (eq this ../currentDangerLevel)}}selected{{/if}}>
                    {{this}}
                </option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="roll-table">Select Encounter Table:</label>
        <select data-action="updateRollTable">
            {{#each rollTables}}
                <option value="{{id}}" {{#if (eq id ../selectedRollTable)}}selected{{/if}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    </div>

    <button data-action="addParty">Add Party to Tracker</button>
    <button data-action="addSelected">Add Selected Tokens</button>
    <button data-action="resetInitiative">Reset Initiative</button>
    <button data-action="beginCrawling">Begin Crawling</button>
    <button data-action="beginCombat">Begin Combat</button>
</div>
