<div class="shadowdark">
    <h2 class="centered">
        {{#if encounter}}
        Encounter!
        {{else}}
        No Encounter
        {{/if}}
    </h2>
    <h3 style="font-family: 'Montserrat-Medium'">
        {{#if result}}
            Rolled: {{result}}
        {{else}}
            Instant 
        {{/if}}
    </h3> 
</div>